@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

h2{
    color: rgba(24, 48, 18, 0.973);
    font-family: 'The Nautigal', cursive;
    font-weight: bold;
    font-size: 70px;
}
